/* SFProDisplay font family ----------------------------------------------------------- */
@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-Black.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-BlackItalic.woff2) format('woff2');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-Bold.woff2) format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-BoldItalic.woff2) format('woff2');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-Heavy.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-HeavyItalic.woff2) format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-Semibold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-SemiboldItalic.woff2) format('woff2');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-MediumItalic.woff2) format('woff2');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-RegularItalic.woff2) format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-LightItalic.woff2) format('woff2');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-Thin.woff2) format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-ThinItalic.woff2) format('woff2');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-Ultralight.woff2) format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "SFProDisplay";
    src: url(SFProDisplay-ultralightItalic.woff2) format('woff2');
    font-weight: 100;
    font-style: italic;
}


/* SFProText font family -------------------------------------------------------------- */
@font-face {
    font-family: "SFProText";
    src: url(SFProText-Black.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "SFProText";
    src: url(SFProText-BlackItalic.woff2) format('woff2');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "SFProText";
    src: url(SFProText-Bold.woff2) format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "SFProText";
    src: url(SFProText-BoldItalic.woff2) format('woff2');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "SFProText";
    src: url(SFProText-Heavy.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "SFProText";
    src: url(SFProText-HeavyItalic.woff2) format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "SFProText";
    src: url(SFProText-Semibold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "SFProText";
    src: url(SFProText-SemiboldItalic.woff2) format('woff2');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "SFProText";
    src: url(SFProText-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "SFProText";
    src: url(SFProText-MediumItalic.woff2) format('woff2');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "SFProText";
    src: url(SFProText-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "SFProText";
    src: url(SFProText-RegularItalic.woff2) format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "SFProText";
    src: url(SFProText-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "SFProText";
    src: url(SFProText-LightItalic.woff2) format('woff2');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "SFProText";
    src: url(SFProText-Thin.woff2) format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "SFProText";
    src: url(SFProText-ThinItalic.woff2) format('woff2');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "SFProText";
    src: url(SFProText-Ultralight.woff2) format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "SFProText";
    src: url(SFProText-ultralightItalic.woff2) format('woff2');
    font-weight: 100;
    font-style: italic;
}


